footer {
    bottom: 0px;
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .links {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  
  .github,
  .linkedIn,
  .home {
    margin: 0 auto;
    padding: 30px;
    width: 58px;
    height: 58px;
  }
  
  a {
    margin: 40px;
  }
  
  .linkedIn {
    background-image: url(/linkedIn.png);
    background-size: cover;
  }
  .github {
    background-image: url(/github.png);
    background-size: cover;
  }
  
  .home {
    background-image: url(/home.png);
    background-size: cover;
  }
  