body {
	background: rgb(136, 203, 171);
	background: linear-gradient(0deg, rgba(120, 116, 127, 1) 0%, rgba(47, 49, 90, 1) 100%);
	margin: 0;
	font-family: "Merriweather", serif;
	color: #fff;
}
html {
	scroll-behavior: smooth !important;
}
/* Typeography General*/
h1 {
	font-family: "Fira Sans", sans-serif;
	font-size: 3em;
	margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
	h1 {
		font-size: 7em;
		margin: 2em 4rem 1em;
	}
}

h2 {
	border-bottom: 1px solid #cc1;
	font-family: "Oxygen", Sans-Serif;
	font-size: 3em;
	color: #fff;
}
