footer {
	grid-area: ft;
	display: flex;
	flex-direction: column;
	height: 30px;
	color: #222;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: center;
}
footer section {
	padding-top: 10px;
}
.link-img {
	opacity: 0.7;
	width: 30px;
	height: 30px;
	margin: auto 10px;
}

.link-img:hover {
	opacity: 0.4;
}
