{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
         "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
   
}