* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    background-color: #fffaf0;
    color: #222;
  }
  
  /* Typography */
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.05em;
    margin: 0.2em 0;
    text-align: center;
  }
  
  h1 {
    font-size: 3em;
  }
  
  h2 {
    font-size: 2.7em;
  }
  
  h3 {
    font-size: 2.4em;
  }
  
  h4 {
    font-size: 1.9em;
  }
  
  h5 {
    font-size: 1.5em;
  }
  
  h6 {
    font-size: 1.2em;
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 1em;
    margin: 1em 0 0;
  }
  
  p + p {
    margin: 0;
  }
  
  a {
    outline: none;
    text-decoration: none;
    color: #000;
  }
  
  a:visited {
    color: #f6aa1c;
  }
  
  a:hover {
    color: #00a6ff
;
  }
  
  strong {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
  
  em {
    font-family: 'Montserrat', sans-serif;
    font-style: 500i;
    letter-spacing: 0.05em;
  }
  
  u {
    text-decoration: underline;
    font-weight: 500;
    letter-spacing: 0.05em;
  }
  
  figcaption {
    font-style: italic;
    font-size: 0.8em;
    text-align: right;
  }
  
  q {
    font-family: 'Montserrat', sans-serif;
    font-style: 500i;
    letter-spacing: 0.05em;
  }
  
  blockquote {
    font-style: italic;
    line-height: 2;
    letter-spacing: 0.05em;
    padding: 10px 30px;
  }
  
  blockquote:first-letter {
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }
  
  /* Buttons */
  .btn {
    width: 150px;
    padding: 10px 0;
    font-family: 'Playfair Display', serif;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin: 15px 0;
    cursor: pointer;
    display: inline-block;
  }
  
  .btn-primary {
    background-color: transparent;
    border: 2px solid #00a6ff
;
    border-radius: 3px;
    color: #00a6ff
;
    transition: all 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #00a6ff
;
    border: 2px solid #00a6ff
;
    border-radius: 3px;
    color: #fffaf0;
    transform: scale(0.9);
  }
  
  .btn-primary:active {
    color: #00a6ff
;
    border-radius: 3px;
    color: #fffaf0;
    transform: scale(0.9);
  }
  
  .btn-secondary {
    background-color: #00a6ff
;
    border: 2px solid #00a6ff
;
    color: #fffaf0;
    transition: all 0.3s;
  }
  
  .btn-secondary:hover {
    background-color: transparent;
    border: 2px solid #00a6ff
;
    color: #00a6ff
;
    transform: scale(0.9);
  }
  
  .btn-secondary:active {
    background-color: transparent;
    border: 2px solid #00a6ff
;
    color: #00a6ff
;
    transform: scale(0.9);
  }
  